---
const { images, className } = Astro.props
---

<div class='carouser-container'>
  <div class=`carousel-slide-${className}` data-class=`carousel-slide-${className}`>
    <div class='item'>
      <img
        src={images[images.length - 1].img}
        alt='image-slide'
        id='lastClone'
      />
    </div>
    {
      images?.map((item: any) => {
        return (
          <div class='item'>
            <img src={item.img} alt='image-slide' />
            <span>{item.description}</span>
          </div>
        )
      })
    }
    <div class='item'>
      <img src={images[0].img} alt='image-slide' id='firstClone' />
    </div>
  </div>
  <div class='navigation'>
    <button id='prevBtn'>&lt</button>
    <button id='nextBtn'>&gt</button>
  </div>
</div>

<style>
  .carouser-container {
    width: 70%;
    min-width: 250px;
    max-height: 400px;
    margin: auto;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
  }

  .carouser-container > div {
    display: flex;
    width: 100%;
  }

  .item {
    min-width: 100%;
    max-height: 500px;
    position: relative;
  }

  .item img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .item span {
    padding: 10px 20px;
    background: rgba(0, 0, 0, 0.205);
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    position: absolute;
    right: 30px;
    bottom: 0;
  }

  .navigation {
    width: 100%;
  }

  .navigation button {
    height: 100%;
    width: 60px;
    outline: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    color: black;
    background: transparent;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: all .3s ease;
  }

  .navigation button:first-child {
    left: 0;
  }
  
  .navigation button:first-child:hover {
    background: linear-gradient(to right, rgba(0,0,0,.4), rgba(0,0,0,0));
    color: white;
  }
  
  .navigation button:last-child {
    right: 0;
  }
  
  .navigation button:last-child:hover {
    background: linear-gradient(to left, rgba(0,0,0,.4), rgba(0,0,0,0));
    color: white;
  }

  @media (max-width: 1300px) {
    .carouser-container {
      width: 100%;
      margin-bottom: 20px;
    }
    .item span {
      font-size: 0.8rem;
    }
  }
</style>

<script>
  const $carouselSlide = document.querySelector(`[data-class]`)
  const $carouselImages = document.querySelectorAll(`[data-class] .item`)

  // Buttons
  const $prevBtn = document.getElementById('prevBtn')
  const $nextBtn = document.getElementById('nextBtn')

  // Counter
  let counter = 1
  let size = 0
  const $btnOpenModal = document.querySelector('.open-modal')
  $btnOpenModal.addEventListener('click', () => {
    setTimeout(() => {
      size = $carouselImages[0].clientWidth
      $carouselSlide.style.transform = `translateX(${-size * counter}px)`
    }, 100)
  })

  // Button listeners
  $nextBtn?.addEventListener('click', () => {
    size = $carouselImages[0].clientWidth
    $carouselSlide.style.transform = `translateX(${-size * counter}px)`
    if (counter >= $carouselImages.length - 1) return
    $carouselSlide.style.transition = 'transform .4s ease-in-out'
    counter++
    $carouselSlide.style.transform = `translateX(${-size * counter}px)`
  })

  $prevBtn?.addEventListener('click', () => {
    size = $carouselImages[0].clientWidth
    $carouselSlide.style.transform = `translateX(${-size * counter}px)`
    if (counter <= 0) return
    $carouselSlide.style.transition = 'transform .4s ease-in-out'
    counter--
    $carouselSlide.style.transform = `translateX(${-size * counter}px)`
  })

  $carouselSlide?.addEventListener('transitionend', () => {
    if ($carouselImages[counter].querySelector('img').id === 'lastClone') {
      $carouselSlide.style.transition = 'none'
      counter = $carouselImages.length - 2
      $carouselSlide.style.transform = `translateX(${-size * counter}px)`
    } else if (
      $carouselImages[counter].querySelector('img').id === 'firstClone'
    ) {
      $carouselSlide.style.transition = 'none'
      counter = $carouselImages.length - counter
      $carouselSlide.style.transform = `translateX(${-size * counter}px)`
    }
  })
</script>
